Rules? There are rules?
=======================

Yes ofcause there are rules
---------------------------
This challenge is a part of Undutmaning 2025 and the overarching rules of the
competition applies to this challenge as well as all the others. The essence 
of those rules is that the challenge is supposed to be a fun event, for 
everyone that participates, so act acordingly.

In the case of this challenge that entails - for instance - not spamming other
packets, not destroying or interupting other packets on purpouse, etcetera. 

In short, behave, be polite and don't be a jerk!

The rules of the network?
-------------------------
The more technical rules of the network are not clear to you, and you need to 
work a lot of things out for yourself. This network does resemble a TCP/IP 
network, but there are some slight, and some major, deviations here and there.
What and where those deviations are you will have to find out on your own.
