<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OPS - Control Interface</title>
</head>
<body>
    <h1>OPS - Control Interface</h1>
    <p>Skriv ett godkänt skript nedan och tryck på kör för att skicka till OPS.</p>
    <form action="/" method="post">
        <textarea name="script" rows="10" cols="50" required></textarea><br>
        <button type="submit">Kör</button>
    </form>
    <footer>
        <p>Säkrad av Ward Christensen och John Byrns, &copy; 1981</i></p>
    </footer>
</body>
</html>
